{% extends 'baseback.html.twig' %}

{% block title %}
Back ✅
{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">
      
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Table Comments</h4>
                    </div>
                    <div class="input-group mb-3">
                                            
                                        <input type="text" class="form-control" >
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-dark btn-block" type="button">Chercher</button>
                                            </div>
                                        </div>
                                     <a href="{{path('co_add')}}"> <button class="btn btn-outline-dark btn-block" type="button">Ajouter</button> </a>
                                      <br> 
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>id_client</th>
                                    <th>contenu</th>
                                    <th>nb_likes</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in weza %}
                                <tr>
                                    <th>{{i.id}}</th>
                                    <td>{{i.client.nom}}</td>
                                    <td class="color-primary"><div  style="width: 400px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{i.contenu}}</div></td>
                                    <td>{{i.nbLikes}}</td>
                                    
                                    <td> 
                                         <a href="{{path('co_mod',{'id':i.id})}}"><button type="submit" class="btn btn-dark btn-block">Modifier</button></a>
                                         <br>
                                        <a href="{{path('co_dex',{'id':i.id})}}"><button type="submit" class="btn btn-dark btn-block">Supprimer</button></a>
                                            </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /# card -->
       
    </div>
</div>
{% endblock %}

