{% extends 'baseback.html.twig' %}



{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>{{ info }}</h1>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'text-black'}}) }}
                {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.quantiteStock, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.prix, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.categories, {'attr': {'class': 'form-control'}}) }}
                </div>

                <button type="submit" class="btn btn-success">Ajouter</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

