{% extends 'basefront.html.twig' %}

{% block title %}Session{% endblock %}
{% block up %}
<section class="page-title bg-2">
 <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="index.html" class="text-sm letter-spacing text-white text-uppercase font-weight-bold">Home</a></li>
            <li class="list-inline-item"><span class="text-white">|</span></li>
            <li class="list-inline-item"><a href="#" class="text-color text-uppercase text-sm letter-spacing">About us</a></li>
          </ul>
           <h1 class="text-lg text-white mt-2">Sessions</h1>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block body %}
<div class="container mt-4" border="2px">
    <div class="d-flex justify-content-center" >
        <table class="table table-striped text-center" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Coach</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Capacité</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in weza %}
                <tr>
                    <th scope="row">{{ i.id }}</th>
                    <td class="pr-4">
                        {% if i.type == 1 %}
                        <span class="badge badge-success px-2" style="font-size: 12px;">Endurance</span>
                        {% elseif i.type == 2 %}
                        <span class="badge badge-primary px-2" style="font-size: 12px;">Force</span>
                        {% elseif i.type == 3 %}
                        <span class="badge badge-danger px-2" style="font-size: 12px;">Prise de muscle</span>
                        {% endif %}
                    </td>
                    <td class="pr-4">{{ i.coach }}</td>
                    <td class="pr-4">{{ i.des }}</td>
                    <td class="pr-4">{{ i.date|date("Y-m-d H:i") }}</td>
                    <td class="pr-4">{{ i.cap }}</td>
                    <td><a href="{{ path('re_detail', {'id': i.id}) }}" class="btn btn-main btn-block">Plus d'informations <i class="ti-angle-right ml-2"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}





{% block css %}
<!-- bootstrap.min css -->
  <link rel="stylesheet" href="{{asset('Front/plugins/bootstrap/css/bootstrap.min.css')}}">
  <!-- Icofont Css -->
  <link rel="stylesheet" href="{{asset('Front/plugins/icofont/icofont.min.css')}}">
  <!-- Themify Css -->
  <link rel="stylesheet" href="{{asset('Front/plugins/themify/css/themify-icons.css')}}">
  <!-- animate.css -->
  <link rel="stylesheet" href="{{asset('Front/plugins/animate-css/animate.css')}}">
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="{{asset('Front/plugins/magnific-popup/dist/magnific-popup.css')}}">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="{{asset('Front/plugins/slick-carousel/slick/slick.css')}}">
  <link rel="stylesheet" href="{{asset('Front/plugins/slick-carousel/slick/slick-theme.css')}}">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{{asset('Front/css/style.css')}}">
<link rel="stylesheet" href="{{asset('Front/css/exo.css')}}">

<style>

</style>
{% endblock %}