{% extends 'baseback.html.twig' %}

{% block title %}AZIZ !{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
      
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Table Exercices</h4>
                    </div>
                    <div class="input-group mb-3">
                                            
                                        <input type="text" class="form-control" >
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-dark btn-block" type="button">Chercher</button>
                                            </div>
                                        </div>
                                      <button class="btn btn-outline-dark btn-block" type="button">Ajouter</button> 
                                      <br> 
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Muscle Ciblé</th>
                                    <th>Difficulté</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Gif</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in weza %}
                                <tr>
                                    <th>{{i.id}}</th>
                                    <td>{{i.nom}}</td>
                                    <td>{{i.mc}}</td>
                                    {% if i.nd == 1 %}
                                    <td><span class="badge badge-success px-2" style="font-size: 12px;">Facile</span></td>
                                    {% endif %}        
                                    {% if i.nd == 2 %}
                                    <td><span class="badge badge-primary px-2" style="font-size: 12px;">Moyen</span></td>
                                    {% endif %}
                                    {% if i.nd == 3 %}
                                    <td><span class="badge badge-danger px-2" style="font-size: 12px;">Difficile</span></td>
                                    {% endif %}
                                    <td class="color-primary"><div  style="width: 400px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{i.des}}</div></td>
                                    <td><img src="{{asset(i.img)}}" width="58%" height="58%" /></td>
                                    <td><img src="{{asset(i.gif)}}" width="25%" height="25%" /></td>
                                    <td> 
                                         <a href=""><button type="submit" class="btn btn-dark btn-block">Modifier</button></a>
                                         <br>
                                        <a href="{{path('app_dex',{'id':i.id})}}"><button type="submit" class="btn btn-dark btn-block">Supprimer</button></a>
                                            </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /# card -->
       
    </div>
</div>
{% endblock %}
