{% extends '/user/HomeOnclient.html.twig' %}

{% block title %}EXERCICES{% endblock %}
{% block up %}
<section class="page-title bg-2">
 <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="index.html" class="text-sm letter-spacing text-white text-uppercase font-weight-bold">Home</a></li>
            <li class="list-inline-item"><span class="text-white">|</span></li>
            <li class="list-inline-item"><a href="#" class="text-color text-uppercase text-sm letter-spacing">About us</a></li>
          </ul>
           <h1 class="text-lg text-white mt-2">Exercices</h1>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block body %}
    {% block defi %}
<div class="container-fluid mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-9">
            <div class="card p-4 mt-3">
                <h3 class="heading mt-5 text-center">Salut! Choisissez-vous?</h3> 
                <div class="d-flex justify-content-center px-5">
                    <div class="search">
                        <input type="text" class="search-input" id="searchInput" placeholder="Recherche..." name=""> <a href="#" class="search-icon" onclick="rechercherDefis(document.getElementById('searchInput').value, document.getElementById('diff').value)"> <i class="fa fa-search"></i> </a>
                        
                    </div>
                     <div class="row mt-4 g-2 px-4 mb-11">
    <select id="diff" >
        <option value="1">Facile</option>
        <option value="2">Moyen</option>
        <option value="3">Difficile</option>
        <option value="">Tout</option>
        <!-- Ajoutez d'autres options pour les muscles -->
    </select>
</div> 
                </div>
                <div class="row mt-4 g-1 px-4 mb-5 justify-content-center"  > <!-- Ajout de justify-content-center ici -->
                    <div class="col-md-2 text-center" onclick="rechercherDefis('','1')"> <!-- Ajout de text-center ici -->
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> 
                            <img src="{{asset('Front/images/exo/simple.png')}}" width="100"> 
                            <div class="text-center mg-text"> 
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-center" onclick="rechercherDefis('','2')"> <!-- Ajout de text-center ici -->
                        <div class="card-inner p-3 d-flex flex-column align-items-center">
                            <img src="{{asset('Front/images/exo/normal.png')}}" width="100">
                            <div class="text-center mg-text"> 
                            
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-2 text-center" onclick="rechercherDefis('','3')"> <!-- Ajout de text-center ici -->
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> 
                            <img src="{{asset('Front/images/exo/hard.png')}}" width="100"> 
                            <div class="text-center mg-text"> 
                            
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>









<br>





                        <section class="section blog bg-gray">
	
		<div class="row">
	

<div class="row" id="searchResults">
  {% for i in pagination %}
    <div class="col-lg-4 col-md-6 mb-4">
      <section class="performance-facts" style="height: 425px;">
        <header class="performance-facts__header">
          <h1 class="performance-facts__title">{{i.nom}}</h1>
          <p>{{i.nbj}} Jours</p>
        </header>
        <table class="performance-facts__table">
          <thead>
            <tr>
              <th colspan="3" class="small-info">
                Exercice par jour
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="2">
                <b>Nombre d'exercices: </b>
                {{i.ex | length}}
              </th>
              <td>
                Séries/Répétitions
              </td>
            </tr>
            <tr class="thick-row">
              <td colspan="3" class="small-info">
                <b>% S/R *</b>
              </td>
            </tr>
            {% for j in i.ex %}
            <tr>
              <th colspan="2">
                <a href="{{path('ex_detail',{'id':j.id})}}" style="color: black;"><b>{{j.nom}}</b></a>
              </th>
              <td>
                <b>{{j.nd * 2}}/{{j.nd * 5}}</b>
              </td>
            </tr>
            {% endfor %}
            <tr class="thick-end">
              <th colspan="2">
                <b>30 min max par exercice</b>
              </th>
              <td></td>
            </tr>
          </tbody>
        </table>
        <table class="performance-facts__table--grid">
          <tbody>
          
            <tr class="thin-end">
              <td colspan="2">
              <div style="text-align: center; margin-bottom: 20px;">
                {% if i.nd == 1 %}
                    <img src="{{asset('Front/images/exo/et1.png')}}" width="40%" height="40%" />
                {% endif %}        
                {% if i.nd == 2 %}
                    <img src="{{asset('Front/images/exo/et2.png')}}" width="40%" height="40%" />
                {% endif %}
                {% if i.nd == 3 %}
                    <img src="{{asset('Front/images/exo/et3.png')}}" width="40%" height="40%" />
                {% endif %}
            </div>
              </td>
             
            </tr>
          </tbody>
        </table>
        <p class="small-info">{{i.des}}</p>
      </section>
    </div>
    {% if loop.index % 4 == 3 or loop.last %}
      </div><div class="row">
    {% endif %}
  {% endfor %}
</div>
</div>

		</div>

		<div class="row justify-content-center mt-5">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% set previousPage = pagination.getCurrentPageNumber() - 1 %}
            {% if previousPage >= 1 %}
                <li class="page-item"><a class="page-link" href="{{ path('de_ftest', {'page': previousPage}) }}">Précédent</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Précédent</span></li>
            {% endif %}
            
            {% for page in pagination.getPaginationData().pagesInRange %}
                {% if page == pagination.getCurrentPageNumber() %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ page }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ path('de_ftest', {'page': page}) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            
            {% set nextPage = pagination.getCurrentPageNumber() + 1 %}
            {% if nextPage <= pagination.getPaginationData().pageCount %}
                <li class="page-item"><a class="page-link" href="{{ path('de_ftest', {'page': nextPage}) }}">Suivant</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Suivant</span></li>
            {% endif %}
        </ul>
    </nav>
</div>
	
</section>
{% endblock %}

{% endblock %}


{% block css %}
<!-- bootstrap.min css -->
  <link rel="stylesheet" href="{{asset('Front/plugins/bootstrap/css/bootstrap.min.css')}}">
  <!-- Icofont Css -->
  <link rel="stylesheet" href="{{asset('Front/plugins/icofont/icofont.min.css')}}">
  <!-- Themify Css -->
  <link rel="stylesheet" href="{{asset('Front/plugins/themify/css/themify-icons.css')}}">
  <!-- animate.css -->
  <link rel="stylesheet" href="{{asset('Front/plugins/animate-css/animate.css')}}">
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="{{asset('Front/plugins/magnific-popup/dist/magnific-popup.css')}}">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="{{asset('Front/plugins/slick-carousel/slick/slick.css')}}">
  <link rel="stylesheet" href="{{asset('Front/plugins/slick-carousel/slick/slick-theme.css')}}">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{{asset('Front/css/style.css')}}">
<link rel="stylesheet" href="{{asset('Front/css/exo.css')}}">
<style>
.image {
  width: 250px;
  float: left;
  margin: 20px;
}
body {
  font-size: small;
  line-height: 1.4;
}
p {
  margin: 0;
}

.performance-facts {
  border: 3px solid black;
  margin-left:260px;
  margin-top:20px;
  float: left;
  width: 400px;
  padding: 0.5rem;
  table {
    border-collapse: collapse;
  }
}
.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}
.performance-facts__table {
  width: 100%;
  thead tr {
    th,
    td {
      border: 0;
    }
  }
  th,
  td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
  .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .thick-row {
    th,
    td {
      border-top-width: 5px;
    }
  }
}
.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--small {
  @extend .performance-facts__table;
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  thead {
    tr {
      border-bottom: 1px solid black;
    }
  }
  td {
    &:last-child {
      text-align: left;
    }
  }
  th,
  td {
    border: 0;
    padding: 0;
  }
}

.performance-facts__table--grid {
  @extend .performance-facts__table;
  margin: 0 0 0.5rem 0;
  td {
    &:last-child {
      text-align: left;
      &::before {
        content: "•";
        font-weight: bold;
        margin: 0 0.25rem 0 0;
      }
    }
  }
}

.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}

</style>
{% endblock %}

{% block js %}
<!-- 
    Essential Scripts
    =====================================-->


   <!-- Main jQuery -->
   <script src="{{asset('Front/plugins/jquery/jquery.js')}}"></script>
   <!-- Bootstrap 4.3.1 -->
   <script src="{{asset('Front/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
   <!-- Slick Slider -->
   <script src="{{asset('Front/plugins/slick-carousel/slick/slick.min.js')}}"></script>
   <!--  Magnific Popup-->
   <script src="{{asset('Front/plugins/magnific-popup/dist/jquery.magnific-popup.min.js')}}"></script>
   <!-- Form Validator -->
   <script src="{{asset('http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js')}}"></script>
   <script src="{{asset('http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js')}}"></script>
   <!-- Google Map -->
   <script src="{{asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ')}}"></script>
   <script src="{{asset('Front/plugins/google-map/gmap.js')}}"></script>

   <script src="{{asset('Front/js/script.js')}}"></script>
<script>
   function rechercherDefis(termeRecherche, difficulte) {
    var formData = new FormData();
    formData.append('dsearch', termeRecherche);
    formData.append('difficulte', difficulte);

    fetch('{{ path('dsearch') }}', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        var resultsHtml = '';
        console.log(data);
        data.weza.forEach(function(defi) {
            resultsHtml += `
            <div class="col-lg-4 col-md-6 mb-4"> <!-- Ajout de l'espace entre chaque répétition -->
                <section class="performance-facts" style="height: 425px;">
                    <header class="performance-facts__header">
                        <h1 class="performance-facts__title">${defi.nom}</h1>
                        <p>${defi.nbj} Jours</p>
                    </header>
                    <table class="performance-facts__table">
                        <thead>
                            <tr>
                                <th colspan="3" class="small-info">
                                    Exercice par jour
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th colspan="2">
                                    <b>Nombre d'exercices: </b>
                                    ${defi.ex.length}
                                </th>
                                <td>
                                    Séries/Répétitions
                                </td>
                            </tr>
                            <tr class="thick-row">
                                <td colspan="3" class="small-info">
                                    <b>% S/R *</b>
                                </td>
                            </tr>`;
            
            defi.ex.forEach(function(exercice) {
                resultsHtml += `
                            <tr>
                                <th colspan="2">
                            
                                    <a href="/fexercice/detail/${exercice.id}" style="color: black;"><b>${exercice.nom}</b></a>
                                </th>
                                <td>
                                    <b>${exercice.nd * 2}/${exercice.nd * 5}</b>
                                </td>
                            </tr>`;
            });

            resultsHtml += `
                            <tr class="thick-end">
                                <th colspan="2">
                                    <b>30 min max par exercice</b>
                                </th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="performance-facts__table--grid">
                        <tbody>
                            <tr class="thin-end">
                                <td colspan="2">
                                    <div style="text-align: center; margin-bottom: 20px;">`;
            
            if (defi.nd == 1) {
                resultsHtml += `<img src="{{asset('Front/images/exo/et1.png')}}" width="40%" height="40%" />`;
            } else if (defi.nd == 2) {
                resultsHtml += `<img src="{{asset('Front/images/exo/et2.png')}}" width="40%" height="40%" />`;
            } else if (defi.nd == 3) {
                resultsHtml += `<img src="{{asset('Front/images/exo/et3.png')}}" width="40%" height="40%" />`;
            }

            resultsHtml += `
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="small-info">${defi.des}</p>
                </section>
            </div>`;
        });

        document.getElementById('searchResults').innerHTML = resultsHtml;
    })
    .catch(error => {
        console.error('Erreur lors de la requête:', error);
    });
}

document.getElementById('searchForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var searchTerm = document.getElementById('searchInput').value;
    var difficulty = document.getElementById('difficultyInput').value; // Récupérer la valeur de la difficulté
    
    if (!this.classList.contains('searched')) {
        rechercherDefis(searchTerm, difficulty);
        this.classList.add('searched');
    }
});

document.addEventListener('DOMContentLoaded', function() {
    rechercherDefis('');
});
</script>

{% endblock %}