{% extends 'baseback.html.twig' %}

{% block title %}AZIZ !{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Modifier Défi</h4>
                <div class="basic-form">
                  {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
                    
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="label-box">
                                {{ form_label(form.nom, 'Nom') }}
                            </div>
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.nom) }}
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="label-box">
                                {{ form_label(form.des, 'Description') }}
                            </div>
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.des, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.des) }}
                        </div>
                    </div>
                    
                    
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="label-box">
                                {{ form_label(form.nd, 'Difficulté') }}
                            </div>
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.nd, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.nd) }}
                        </div>
                    </div>
                    
                        <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="label-box">
                                {{ form_label(form.nbj, 'Nombre De Jours') }}
                            </div>
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.nbj, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.nbj) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="label-box">
                                {{ form_label(form.ex, 'Exercices') }}
                            </div>
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.ex, {'attr': {'class': 'form-select custom-select'}}) }}
                            {{ form_errors(form.ex) }}
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <div class="btn-wrapper">
                                {{ form_widget(form.Sauvegarder, {'attr': {'class': 'btn btn-dark btn-sm', 'style': 'width: 60%;'}}) }}
                            </div>
                        </div>
                    </div>
                    
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Vidéo</h4>
                <div class="video-container">
                    <video controls width="100%">
                 <source src="{{asset('Back/mecanique_musculo_articulaire-HD.mp4')}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<style>
      .video-container {
        position: relative;
        padding-bottom: 61%; /* Ajustez cette valeur selon vos besoins pour que la vidéo soit de la même hauteur que le formulaire */
        height: 0;
        overflow: hidden;
    }

    .video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .label-box {
        background-color: #f8f9fa; /* Couleur de fond */
        border: 1px solid #000; /* Contour noir */
        padding: 5px; /* Espacement interne */
        border-radius: 5px; /* Coins arrondis */
    }
    
    .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .card-body {
        background-color: #f0f0f0; /* Couleur de fond du corps de la carte */
        border-radius: 10px; /* Coins arrondis de la carte */
    }
</style>
{% endblock %}
