{% extends '/user/HomeOnclient.html.twig' %}

{% block title %}Exercices!{% endblock %}
{% block up %}
<section class="page-title bg-2">
 <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="index.html" class="text-sm letter-spacing text-white text-uppercase font-weight-bold">Home</a></li>
            <li class="list-inline-item"><span class="text-white">|</span></li>
            <li class="list-inline-item"><a href="#" class="text-color text-uppercase text-sm letter-spacing">About us</a></li>
          </ul>
           <h1 class="text-lg text-white mt-2">Detail {{weza.nom}}</h1>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block body %}
{% block exercices %}
<section class="section about">
	<div class="container">
		<div class="row align-items-center">
		<div class="col-lg-6 mt-lg-4 col-md-6">
    <img src="{{asset(weza.gif)}}" alt="" class="img-fluid">
</div>
			<div class="col-lg-6 col-md-12">
				<div class="about-item position-relative mt-5 mt-lg-0">
					<span class="h5 text-lg text-muted">{{weza.mc}}</span>
					<h2 class="mt-1 mb-3">{{weza.nom}}</h2>

					<p class="mb-4">{{weza.des}}</p>

					<div class="row">
    <div class="col-md-6">
        <a href="{{ path('ex_ftest') }}" class="btn btn-main btn-block">Exercices<i class="ti-angle-right ml-2"></i></a>
    </div>
    <div class="col-md-6">
        <a href="{{ path('de_ftest') }}" class="btn btn-main btn-block">Défis<i class="ti-angle-right ml-2"></i></a>
    </div>
</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section About End -->





<section class="section chat" id="chat-section">
    <div class="custom-container">
       

        <div class="container">
    <div class="header">
        <h1 class="title">Small Chat GPT</h1>
        <img src="{{asset('/image/avatar.png')}}" alt="avatar" class="avatar">
        <span class="question"></span>
    </div>
    <div class="gpt-response">
        <img src="{{asset('/image/gpt.png')}}" alt="gpt" class="gpt-logo">
        <div id="chat-messages">
            <!-- Les messages du chat seront affichés ici -->
        </div>
    </div>
    <div class="type">
        <div class="input-div">
            <form id="chat-form">
                <div class="text-input">
                    <input type="text" name="text" id="user-input" placeholder="" class="text" style="margin-top: 50px;">
                </div>
                <button type="button" class="btn" id="send-btn">
                    <img src="{{asset('/image/send.png')}}" alt="send" class="send">
                </button>
            </form>
        </div>
    </div>
</div>
    </div></section>

<br>





<!-- Why choose us Start -->
<section class="section why">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Why CHoose us</h2>
				</div>
			</div>
		</div>

		<div class="row ">
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center mb-4 border-0 bg-black-50 rounded-0 ">
					<i class="icofont-dumbbells text-lg text-color"></i>
					<h3 class="mt-3 text-white">Modern Equipment</h3>
					<p class="mt-3 mb-4 text-white"></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 mb-4 rounded-0">
					<i class="icofont-muscle text-lg text-color"></i>
					<h3 class="mt-3">PROFFESIONAL TRAINer</h3>
					<p class="mt-3 mb-4"></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 mb-4 rounded-0 bg-black-50">
					<i class="icofont-fruits text-lg text-color"></i>
					<h3 class="mt-3 text-white">HEALTHY DIET Plan</h3>
					<p class="mt-3 mb-4 text-white"></p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 rounded-0 ">
					<i class="icofont-thumbs-up text-lg text-color"></i>
					<h3 class="mt-3">24/7 Helping People</h3>
					<p class="mt-3 mb-4"></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 rounded-0 bg-black-50">
					<i class="icofont-ui-fire-wall text-lg text-color"></i>
					<h3 class="mt-3 text-white">Unique to Your Needs</h3>
					<p class="mt-3 mb-4 text-white"></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 rounded-0">
					<i class="icofont-bill-alt text-lg text-color"></i>
					<h3 class="mt-3">Online payment</h3>
					<p class="mt-3 mb-4"></p>
				</div>
			</div>
		</div>
	</div>
</section>




<!-- Why choose us End -->
{% endblock %}

{% endblock %}

{% block css %}
<!-- bootstrap.min css -->
  <link rel="stylesheet" href="{{asset('Front/plugins/bootstrap/css/bootstrap.min.css')}}">
  <!-- Icofont Css -->
  <link rel="stylesheet" href="{{asset('Front/plugins/icofont/icofont.min.css')}}">
  <!-- Themify Css -->
  <link rel="stylesheet" href="{{asset('Front/plugins/themify/css/themify-icons.css')}}">
  <!-- animate.css -->
  <link rel="stylesheet" href="{{asset('Front/plugins/animate-css/animate.css')}}">
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="{{asset('Front/plugins/magnific-popup/dist/magnific-popup.css')}}">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="{{asset('Front/plugins/slick-carousel/slick/slick.css')}}">
  <link rel="stylesheet" href="{{asset('Front/plugins/slick-carousel/slick/slick-theme.css')}}">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{{asset('Front/css/style.css')}}">
  <style>
        .custom-container .container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            position: relative;
            width: 874px;
            height: 428px;
            left: 0%;
            top: 0px;
            background: #343541;
            transform: scale(0.8);
        }

        .custom-container .header {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 24px 48px;
            gap: 24px;
            width: 874px;
            height: 78px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }

        .custom-container .title {
            width: 656px;
            height: 28px;
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #D1D5DB;
            flex: none;
            order: 1;
            flex-grow: 1;
            position: absolute;
            top: 25px;
            left: 300px;
            font-size: xx-large;
            font-weight: 600;
        }

        .custom-container .avatar {
            width: 30px;
            height: 30px;
            border-radius: 2px;
            flex: none;
            order: 0;
            flex-grow: 0;
            position: absolute;
            top: 100px;
        }

        .custom-container .question {
            width: 656px;
            height: 28px;
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #D1D5DB;
            flex: none;
            order: 1;
            flex-grow: 1;
            position: absolute;
            top: 100px;
            left: 100px;
        }

        .custom-container .gpt-response {
            margin-top:12px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 24px 48px;
            gap: 24px;
            height: 350px;
            background: #444654;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
        }

        .custom-container .gpt-logo {
            margin-top:30px;
            width: 30px;
            height: 30px;
            border-radius: 2px;
            flex: none;
            order: 0;
            flex-grow: 0;
            
            
        }

        .custom-container .gpt {
             margin-top:60px;
            width: 656px;
            height: 168px;
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #D1D5DB;
            flex: none;
            order: 1;
            flex-grow: 1;
        }

        .custom-container .stream {
            color: white;
            font-size: larger;
        }

        .custom-container .type {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 24px 0px;
            gap: 4px;
            width: 874px;
            height: 134px;
            flex: none;
            order: 2;
            align-self: stretch;
            flex-grow: 0;
            background: #343541;
        }

        .custom-container .input-div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px 48px;
            gap: 8px;
            width: 874px;
            height: 50px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }

        .custom-container .text-input {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 778px;
            height: 50px;
            background: #444654;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }

        .custom-container .text {
            position: absolute;
            left: 98px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 653px;
            height: 38px;
            background: #444654;
            box-shadow: 0px 0px 15px rgb(255 255 255 / 10%);
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
            border: none;
            top: 419px;
            color: white;
            text-decoration: none;
            outline: none;
        }

        .custom-container .send {
            width: 26px;
            height: 30px;
            flex: none;
            order: 0;
            flex-grow: 0;
            position: absolute;
            left: 728px;
            top: -38px;
            cursor: pointer;
        }

        .custom-container .btn {
            position: absolute;
            border: none;
            background: none;
        }
    </style>
{% endblock %}

{% block js %}
   <!-- 
    Essential Scripts
    =====================================-->


   <!-- Main jQuery -->
   <script src="{{asset('Front/plugins/jquery/jquery.js')}}"></script>
   <!-- Bootstrap 4.3.1 -->
   <script src="{{asset('Front/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
   <!-- Slick Slider -->
   <script src="{{asset('Front/plugins/slick-carousel/slick/slick.min.js')}}"></script>
   <!--  Magnific Popup-->
   <script src="{{asset('Front/plugins/magnific-popup/dist/jquery.magnific-popup.min.js')}}"></script>
   <!-- Form Validator -->
   <script src="{{asset('http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js')}}"></script>
   <script src="{{asset('http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js')}}"></script>
   <!-- Google Map -->
   <script src="{{asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ')}}"></script>
   <script src="{{asset('Front/plugins/google-map/gmap.js')}}"></script>

   <script src="{{asset('Front/js/script.js')}}"></script>

<script>
 document.addEventListener('DOMContentLoaded', function () {
    const chatMessages = document.getElementById('chat-messages');
    const userInput = document.getElementById('user-input');
    const sendBtn = document.getElementById('send-btn');
    const questionSpan = document.querySelector('.question');

    sendBtn.addEventListener('click', function () {
        const userMessage = userInput.value.trim();

        if (userMessage !== '') {
            // Envoyer la requête AJAX à l'API ChatGPT avec votre clé API
            fetch('https://api.openai.com/v1/completions', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer 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' // Ajouter le préfixe "Bearer "
                },
                body: JSON.stringify({
                    model: 'gpt-3.5-turbo-instruct', // Utiliser le modèle gpt-3.5-turbo-instruct
                    prompt: userMessage, // Message de l'utilisateur
                    max_tokens: 300 // Limite de tokens pour la réponse
                })
            })
            .then(response => response.json())
            .then(data => {
                // Effacer le contenu précédent de la balise <div id="chat-messages"></div>
                chatMessages.innerHTML = '';

                // Afficher la nouvelle réponse de l'API dans le chat
                const chatMessage = document.createElement('div');
                chatMessage.classList.add('message');
               chatMessage.innerHTML = `<div class="gpt-message" style="margin-top: 35px; color: white; text-shadow: -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green, 1px 1px 0 green;">${data.choices[0].text}</div>`;
                chatMessages.appendChild(chatMessage);

                // Mettre à jour le dernier message de l'utilisateur dans la balise <span class="question"></span>
                questionSpan.textContent = userMessage;

                // Effacer le champ de saisie après l'envoi du message
                userInput.value = '';
            })
            .catch(error => {
                console.error('Erreur lors de la requête:', error);
            });
        }
    });
});
</script>
{% endblock %}