{% extends 'basefront.html.twig' %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <script src="{{ asset('/assets/js/jquery.js') }}"></script>
{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
{% endblock %}
{% block notif %}
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}

{% block up%}


    <section class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span class="h6 d-inline-block mb-4 subhead text-uppercase">Create account</span>
                    <h1 class="text-uppercase text-white mb-5">Welcome On Our <span class="text-color">fitness </span><br>Website</h1>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block body %}

    <body id="body">
<div class="hero-slider">
    <div class="slider-item th-fullpage hero-area d-flex align-items-center justify-content-center" style="background-image: url({{ asset('front/images/slider/envi.jpg')}});" style="height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body">
                        <h1 class="text-black-50">  Forgot Password </h1>
                        <div class="form-container">
                            {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
                            {{ form_start(form,{'attr':{'novalidate':'novalidate', 'class': 'text-white','class': 'text-danger'}}) }}
                            {{ form_label(form.pwd,"New Password", {'label_attr': {'class': 'text-white'}}) }}
                            {{ form_errors(form.pwd, {'attr': {'class': 'text-danger'}}) }}
                            {{ form_widget(form.pwd, {'attr': {'class': 'form-control'}}) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}