{% extends 'basefront.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block menu %}
    <nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <h2 class="text-white text-capitalize"></i>Breathe<span class="text-color">Out</span></h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsid"
                    aria-controls="navbarsid" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-view-list"></span>
            </button>
            <div class="collapse text-center navbar-collapse" id="navbarsid">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Boutique<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Entrainement</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">Exercices</a></li>
                            <li><a class="dropdown-item" href="">Défis</a></li>

                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="service.html">Sessions</a></li>
                    <li class="nav-item"><a class="nav-link" href="pricing.html">Coachs</a></li>
                    <li class="nav-item"><a class="nav-link" href="pricing.html">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">A propos de nous</a></li>
                </ul>
                <li class="nav-item dropdown">
                    <a href="{{ path('app_user_show', {'id': app.user.getId()}) }}" class="nav-link dropdown-toggle">
                        <h3 class="text-color mb-0" style="margin-right: 10px;">
                            <i></i>{{ user.prenom }} {{ user.nom }}
                        </h3>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_user_show', {'id': app.user.getId()}) }}">Profile</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a></li>
                    </ul>
                </li>
                <div class="my-md-0 ml-lg-4 mt-4 mt-lg-0 ml-auto text-lg-right mb-3 mb-lg-0">

                </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block up%}
    <section class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <br>
                    <span class="h6 d-inline-block mb-4 subhead text-uppercase">Home Page</span>
                    <h1 class="text-uppercase text-white mb-5">Hello<span class="text-color"><br>{{ app.user.getPrenom() }} </span><br>To your Home Page</h1>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1>Edit User</h1>

        <form method="post" action="{{ path('app_user_edit', {'id': user.id}) }}" enctype="multipart/form-data">
            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.prenom, 'Prenom', {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email, 'Email', {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.adress, 'Adress', {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.adress, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.photo, 'Image', {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.photo, {'attr': {'class': 'form-control-file'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.num_tel, 'Phone number', {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.num_tel, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn btn-primary mt-3">Save Changes</button>

            {{ form_end(form) }}
        </form>

        <a href="{{ path('app_user_show', {'id': app.user.getId()}) }}" class="btn btn-secondary mt-3">Cancel</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}

