{% extends 'baseback.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>
    <script src="{{ asset('/Back/js/jquery.js') }}"></script>
    <div class="search-container">
        <input type="text" class="search-label" placeholder="Search with ID" id="search">
    </div>
    <table class="table" id="tableac">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Pwd</th>
            <th>Date_N</th>
            <th>Role</th>
            <th>Status</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.pwd }}</td>
                <td>{{ user.dateN ? user.dateN|date('Y-m-d') : '' }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.status }}</td>
                <td>
                    <a href="{{ path('app_user_back_show', {'id': user.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = false;
                    $(this).find('td:first-child').each(function(){ // nth-child(2)
                        if($(this).text().toLowerCase().includes(value.toLowerCase())){
                            found = true;
                            return false;
                        }
                    });
                    if(found){
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
    <a href="{{ path('app_user_back_new') }}">Create new</a>
{% endblock %}
